name: Build binary

on:
  workflow_dispatch:
  pull_request:
    paths:
      - '**.zig'
      - '.github/workflows/binary.yml'
  push:
    branches:
      - main
    paths:
      - '**.zig'
      - '.github/workflows/binary.yml'

env:
  BUILD_DIR: "build"

jobs:
  build:
    timeout-minutes: 10
    runs-on: ubuntu-latest
    strategy:
      fail-fast: false
      matrix:
        zig-version: [master]
        targets:
          # - "x86-windows"
          # - "x86_64-windows"
          - "x86-linux"
          - "x86_64-linux"
          - "arm-linux"
          - "aarch64-linux"
          - "x86_64-macos"
          - "aarch64-macos"
    steps:
      - uses: actions/checkout@v3
        with:
          submodules: true
      - uses: goto-bus-stop/setup-zig@v2
        with:
          version: ${{ matrix.zig-version }}
      - name: Build
        run: |
          zig build -Dtarget=${{ matrix.targets }} -Doptimize=ReleaseSafe
      - name: Upload
        uses: actions/upload-artifact@v3
        with:
          name: zigcli-${{ matrix.targets }}
          path: zig-out/bin/
