name: CI

on:
  workflow_dispatch:
  pull_request:
    paths:
      - "**.zig"
      - ".github/build-release.sh"
      - ".github/workflows/CI.yml"
  push:
    branches:
      - main
    paths:
      - "**.zig"
      - ".github/build-release.sh"
      - ".github/workflows/CI.yml"

concurrency:
  group: ${{ github.workflow }}-${{ github.ref }}
  cancel-in-progress: true

jobs:
  test:
    timeout-minutes: 10
    runs-on: ${{ matrix.os }}
    strategy:
      fail-fast: false
      matrix:
        os: [ubuntu-latest, macos-latest, windows-latest]
    steps:
      - uses: actions/checkout@v4
        with:
          submodules: true
      - uses: mlugg/setup-zig@v2
      - name: fmt and test(windows)
        if: matrix.os == 'windows-latest'
        run: |
          zig.exe fmt --check .
          zig.exe build test
          zig.exe build
      - name: fmt and test(unix)
        if: matrix.os != 'windows-latest'
        run: |
          zig fmt --check .
          zig build test
          zig build
          find zig-out
      - name: zigfetch compare
        if: matrix.os != 'windows-latest'
        run: |
          bash .github/zigfetch.sh

  cross-compile:
    timeout-minutes: 10
    runs-on: ${{ matrix.os }}
    strategy:
      fail-fast: false
      matrix:
        os: [ubuntu-latest]
        targets: [x86_64-windows, x86_64-linux, x86_64-macos, aarch64-macos]
    steps:
      - uses: actions/checkout@v4
      - uses: mlugg/setup-zig@v2
        with:
          version: 0.15.1
      - name: Build
        run: |
          zig build -Dtarget=${{ matrix.targets }}
