name: Simargs CI

on:
  workflow_dispatch:
  pull_request:
    paths:
      - 'src/mod/simargs.zig'
      - ".github/workflows/simargs.yml"
  push:
    branches:
      - main
    paths:
      - 'src/mod/simargs.zig'
      - ".github/workflows/simargs.yml"


jobs:
  memory-leak:
    timeout-minutes: 10
    runs-on: ${{ matrix.os }}
    strategy:
      fail-fast: false
      matrix:
        os: [ubuntu-latest]
        zig-version: [master, 0.13.0]
    steps:
      - uses: actions/checkout@v4
      - uses: mlugg/setup-zig@v1
        with:
          version: ${{ matrix.zig-version }}
      - name: Memory leak detect
        run: |
          sudo apt update && sudo apt install -y valgrind
          zig build -Dcpu=baseline --verbose -Dis_ci
          TEST_BINARY=./zig-out/bin/simargs-demo
          valgrind --leak-check=full --tool=memcheck \
          --show-leak-kinds=all --error-exitcode=1 ${TEST_BINARY} --output a.out \
          hello world
